* {
    box-sizing: border-box;
}

h1 {
  color: white;
  padding-left: 50px;
  font-family: 'VT323', monospace;
  letter-spacing: 2px;
}

html {
  background-image: url('images/battle-space-background.jpg');
  background-size: cover;
}

input[type=submit] {
    background: url(images/pixel-arrow.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    border: 0;
    display: block;
    height: 30px;
    width: 20px;
    float: right;
    font-family: 'VT323', monospace;
}

input[type=text] {
    padding: 5px;
    padding-left: 12px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(190,200,162);
    font-family: 'VT323', monospace;
    font-size: 20px;
}

select {
    padding: 5px 5px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(190,200,162);
    box-shadow: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#screen {
  padding-left: 50px;
}

#game-screen {
  background: rgb(190,200,162);
  width: 557px;
  height: 500px;
}

#logo {
  width: 80%;
  position: relative;
  left: 55px;
  top: 25px;
}

#sign-up-form {
  position: relative;
  left: 50px;
  top: 50px;
  padding: 50px;
  padding-top: 30px;
  background: rgb(190,200,162);
  width: 80%;
  border-style: double;
  border-width: thick;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

#new-poke-form {
  position: relative;
  left: 50px;
  top: 50px;
  padding: 30px;
  padding-top: 10px;
  background: rgb(190,200,162);
  width: 50%;
  border-style: double;
  border-width: thick;
  font-family: 'VT323', monospace;
  font-size: 20px;

}

#battle-background {
  background: rgb(190,200,162);
  width: 100%;
}

.pokemon-display{
  float: left;
  border-style: double;
  border-width: thick;
  width: 50%;
}

#menu{
  float: left;
  width: 100%;
  background: rgb(190,200,162);
  border-style: double;
  border-width: thick;
  padding: 5px;
}

.battleForm {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  background: rgb(190,200,162);
  border-style: double;
  border-width: thick;
  width: 50%;
  font-family: 'VT323', monospace;
  font-size: 20px;

}



.poke-name {
  padding-left: 5px;
  padding-right: 5px;
  margin: none;
  width: 100%;
  font-size: 50px;
  color: Black;
  font-family: 'VT323', monospace;
}
#player-name{
}
#opposing-name{
  text-align: right;
}


.poke-stats {
  padding: 10px;
  padding-top: 0px;
  width: 100%;
  color: Black;
  font-family: 'VT323', monospace;
  font-size: 28px;
}
#player-stats{
  text-align: left;
}
#opposing-stats{
  text-align: right;
}



.poke-pic {
  width: 100%;
  background: rgb(190,200,162);
}
#player-pic {
  float: left;
  width: 85%;
}
#opposing-pic {
  float: right;
  width: 85%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image: url('images/popup-space.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    color: white;
    margin: 20% 60px; /* 15% from the top and centered */
    padding: 30px;
    padding-bottom: 150px;
    padding-top: 0px;
    border: 5px solid black;
    width: 557px; /* Could be more or less, depending on screen size */
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-shadow: 1px 1px 20px black;
}
#modalButton {
  background: url(images/pixel-arrow-white.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
  border: 0;
  display: block;
  height: 30px;
  width: 20px;
  float: right;
  box-shadow: 1px 1px 50px black;
}
